<div id="map" class="animated flipInY"></div>


<!--<button data-toggle="button" class="btn btn-success" type="button" aria-pressed="false" ng-click="ChangePolygonColor();" style="z-index: 100; position: relative; top: 10px; left: 10px;">Single Toggle</button>-->
<!--<button data-toggle="button" class="btn btn-success" type="button" aria-pressed="false" ng-click="ChangePolygonColor();" style="z-index: 100; position: relative; top: 10px; left: 10px;">Single Toggle</button>-->
<!--<button data-toggle="button" class="btn btn-success" type="button" aria-pressed="false" ng-click="ChangePolygonColor();" style="z-index: 100; position: relative; top: 10px; left: 10px;">Single Toggle</button>-->

