question4.html<div class="wrapper wrapper-content animated flipInY">

    <div class="row">
        <div class="col-md-4 text-center col-md-offset-4 col-lg-4 col-lg-offset-4">
            <div class="widget navy-bg p-lg text-center">
                <div class="m-b-md">
                    <i class="fa fa-map-marker fa-4x"></i>
                    <br>
                    <br>

                    <!--<h1 class="m-xs">London Map</h1>-->
                    <h3 class="font-bold no-margins">
                    Show us where you work
                    </h3>

                    <!--<small>power</small>-->
                </div>
            </div>
        </div>
    </div>

</div>